# Generate random data

In [8]:
import pandas as pd
import random
import numpy as np

## Year vs Sales

In [2]:
int_list = random.sample(range(10, 1000), 30)
sales = [x/10 for x in int_list]
print(sales)

[27.3, 73.4, 67.1, 21.3, 45.6, 18.5, 31.5, 7.2, 13.6, 89.6, 58.3, 71.3, 32.7, 1.4, 82.2, 57.1, 84.8, 62.2, 5.0, 78.9, 10.9, 12.0, 52.4, 2.5, 2.3, 42.4, 47.8, 7.0, 78.8, 99.0]

In [3]:
data = {'Year_Released': random.sample(range(1970, 2020), 30),
        'Total_Sales': sales
        }
df = pd.DataFrame(data, columns= ['Year_Released', 'Total_Sales'])
df

    Year_Released  Total_Sales
0            1972         27.3
1            2015         73.4
2            1975         67.1
3            2014         21.3
4            2011         45.6
5            1985         18.5
6            1976         31.5
7            2005          7.2
8            2004         13.6
9            1993         89.6
10           1990         58.3
11           1981         71.3
12           2001         32.7
13           2013          1.4
14           2006         82.2
15           2009         57.1
16           2002         84.8
17           1984         62.2
18           1988          5.0
19           1999         78.9
20           1980         10.9
21           1996         12.0
22           1977         52.4
23           1986          2.5
24           1998          2.3
25           1971         42.4
26           1974         47.8
27           2007          7.0
28           1987         78.8
29           2012         99.0

In [17]:
df.to_csv('Sample_Datasets/sample_years_sales.csv', index = False, header=True)

## Critic score vs Sales

In [4]:
score = [x/10 for x in random.sample(range(10, 100), 30)]
sales2 = [x/10 for x in random.sample(range(10, 1000), 30)]
critic_data = {'Critic_Score': score ,
        'Total_Sales': sales2
        }
critic_df = pd.DataFrame(critic_data, columns= ['Critic_Score', 'Total_Sales'])
critic_df

    Critic_Score  Total_Sales
0            1.9         96.5
1            3.8          3.6
2            8.8         27.6
3            7.3         97.8
4            6.6         10.3
5            3.0         95.8
6            5.5         46.1
7            5.4         67.5
8            2.4         66.0
9            8.6         56.6
10           9.8          3.3
11           1.3         27.2
12           7.4         87.1
13           6.4         23.5
14           1.6         84.9
15           8.2         88.1
16           2.8         18.9
17           3.4         99.0
18           8.3         14.1
19           1.0         42.5
20           3.1         21.4
21           7.2         79.7
22           4.8         61.2
23           6.1         23.2
24           5.9         48.4
25           1.8         70.2
26           1.7         50.0
27           3.2         73.2
28           6.9         22.7
29           1.2         40.6

In [19]:
critic_df.to_csv('Sample_Datasets/sample_critic_sales.csv', index = False, header=True)

## Various Variables vs Sales

In [14]:
# Generate random number to mimic the encoding
genre = np.random.choice(20, 30, replace=True)
ESRB = np.random.choice(6, 30, replace=True)
platform = np.random.choice(40, 30, replace=True)
country = np.random.choice(20, 30, replace=True)
year_num = np.random.choice(45, 30, replace=True)

sales3 = [x/10 for x in random.sample(range(10, 1000), 30)]
userscore = [x/10 for x in random.sample(range(10, 100), 30)]

In [36]:
encoded_data = {
    'Critic_Score': score,
    'User_Score': userscore,
    'Genre': genre,
    'ESRB_Rating': ESRB,
    'Platform': platform,
    'Year_released': year_num,
    'Country': country,
    'Total_Sales': sales3
}

encoded_df = pd.DataFrame(encoded_data, columns= [
    'Critic_Score',
    'User_Score',
    'Genre',
    'ESRB_Rating',
    'Platform',
    'Year_released',
    'Country',
    'Total_Sales'
])
encoded_df

,Critic_Score,User_Score,Genre,ESRB_Rating,Platform,Year_released,Country,Total_Sales
0,1.9,2.0,4,2,39,22,17,2.3
1,3.8,9.5,14,2,20,36,2,55.4
2,8.8,4.7,19,3,0,42,3,20.2
3,7.3,6.8,15,4,37,7,11,44.9
4,6.6,1.5,8,2,3,21,12,78.3
5,3.0,1.9,16,0,3,26,16,79.1
6,5.5,9.6,9,4,23,7,5,90.4
7,5.4,8.9,11,5,17,40,18,7.2
8,2.4,1.2,5,3,2,27,3,57.4
9,8.6,8.3,4,1,18,14,0,97.2
10,9.8,3.5,18,1,17,8,16,44.4
11,1.3,4.2,6,5,14,21,0,77.2
12,7.4,7.8,8,5,7,6,8,58.9
13,6.4,7.9,10,0,12,3,8,77.3
14,1.6,1.7,1,4,14,35,15,49.0
15,8.2,4.3,7,0,13,6,5,63.8
16,2.8,8.0,19,3,11,3,6,97.9
17,3.4,8.1,7,2,12,5,15,93.3
18,8.3,5.3,7,5,7,13,5,69.2
19,1.0,6.5,3,3,15,4,3,10.8
20,3.1,7.3,11,0,4,26,7,27.6
21,7.2,9.0,11,5,26,16,15,88.1
22,4.8,6.9,7,2,36,42,16,26.7
23,6.1,3.6,4,1,37,32,11,46.0
24,5.9,3.8,9,3,15,20,13,64.9
25,1.8,5.6,3,3,36,13,5,74.6
26,1.7,1.4,16,5,3,26,10,42.6
27,3.2,9.4,13,5,37,40,13,82.4
28,6.9,5.2,4,1,32,25,6,51.2
29,1.2,9.8,16,2,27,2,14,33.4

In [37]:
encoded_df.to_csv('Sample_Datasets/sample_encoded_data.csv', index = False, header=True)