# Linear Regression Model

## 1. Single Variable

### Sales based on ESRB_Rating
Predict game's sale based ESRB_Rating
<br>Example: If ESRB_Rating = E, how likely will the sales be?

- model = LinearRegression()
- Target variable (y): Total_Sales
- Independent variable (X): ESRB_Rating

In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
games_df = pd.read_csv('Cleaned_Data/all_columns_df.csv')
games_df

,Rank,Name,Genre,ESRB_Rating,Platform,Publisher,Developer_x,Critic_Score,User_Score,Year,Country,Total_Sales
0,1,Wii Sports,Sports,E,Wii,Nintendo,Nintendo EAD,7.7,NaN,2006.0,Japan,82.86
1,2,Super Mario Bros.,Platform,NaN,NES,Nintendo,Nintendo EAD,10.0,NaN,1985.0,Japan,40.24
2,3,Mario Kart Wii,Racing,E,Wii,Nintendo,Nintendo EAD,8.2,9.1,2008.0,Japan,37.14
3,4,PlayerUnknown's Battlegrounds,Shooter,NaN,PC,PUBG Corporation,PUBG Corporation,NaN,NaN,2017.0,NaN,36.60
4,5,Wii Sports Resort,Sports,E,Wii,Nintendo,Nintendo EAD,8.0,8.8,2009.0,Japan,33.09
...,...,...,...,...,...,...,...,...,...,...,...,...
19857,19858,FirePower for Microsoft Combat Flight Simulator 3,Simulation,T,PC,GMX Media,Shockwave Productions,NaN,NaN,2004.0,NaN,0.01
19858,19859,Tom Clancy's Splinter Cell,Shooter,T,PC,Ubisoft,Ubisoft,NaN,NaN,2003.0,Europe,0.01
19859,19860,Ashita no Joe 2: The Anime Super Remix,Fighting,NaN,PS2,Capcom,Capcom,NaN,NaN,2002.0,Japan,0.01
19860,19861,Tokyo Yamanote Boys for V: Main Disc,Adventure,NaN,PSV,Rejet,Rejet,NaN,NaN,2017.0,NaN,0.01
19861,19862,NadePro!! Kisama no Seiyuu Yatte Miro!,Adventure,NaN,PS2,GungHo,GungHo Works,NaN,NaN,2009.0,NaN,0.01

In [3]:
games_df.isna().sum()

Rank                0
Name                0
Genre               0
ESRB_Rating      5937
Platform            0
Publisher           0
Developer_x         2
Critic_Score    15156
User_Score      19624
Year                3
Country          7985
Total_Sales         0
dtype: int64

In [6]:
games_df.nunique()

Rank            19862
Name            13840
Genre              20
ESRB_Rating         6
Platform           40
Publisher         926
Developer_x      3185
Critic_Score       86
User_Score         44
Year               45
Country            20
Total_Sales       648
dtype: int64

In [19]:
# Choose columns 'ESRB_Rating' and 'Total_Sales'
predict_df = games_df[['ESRB_Rating', 'Total_Sales']]
predict_df

      ESRB_Rating  Total_Sales
0               E        82.86
1             NaN        40.24
2               E        37.14
3             NaN        36.60
4               E        33.09
...           ...          ...
19857           T         0.01
19858           T         0.01
19859         NaN         0.01
19860         NaN         0.01
19861         NaN         0.01

[19862 rows x 2 columns]

In [20]:
# Drop NANs
predict_df.dropna(inplace=True)
predict_df

/var/folders/gd/1878fbxd5zs899fs6znx1h_40000gn/T/ipykernel_15382/1910545621.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  predict_df.dropna(inplace=True)

      ESRB_Rating  Total_Sales
0               E        82.86
2               E        37.14
4               E        33.09
5               E        31.38
6               E        30.80
...           ...          ...
19850           M         0.01
19854           E         0.01
19856           E         0.01
19857           T         0.01
19858           T         0.01

[13925 rows x 2 columns]

In [21]:
predict_df.ESRB_Rating.nunique()

6

In [31]:
cat = predict_df.dtypes[predict_df.dtypes == "object"].index.tolist()
cat

['ESRB_Rating']

In [33]:
# Encode 'ESRB_Rating' column
from sklearn.preprocessing import OneHotEncoder

# creating instance of one-hot-encoder
enc = OneHotEncoder(sparse=False)
# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(predict_df[cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(cat)

encode_df.head()

/opt/anaconda3/envs/mlenv/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,ESRB_Rating_E,ESRB_Rating_E10,ESRB_Rating_EC,ESRB_Rating_M,ESRB_Rating_RP,ESRB_Rating_T
0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0

In [51]:
encode_df.tail()

,ESRB_Rating_E,ESRB_Rating_E10,ESRB_Rating_EC,ESRB_Rating_M,ESRB_Rating_RP,ESRB_Rating_T
13920,0.0,0.0,0.0,1.0,0.0,0.0
13921,1.0,0.0,0.0,0.0,0.0,0.0
13922,1.0,0.0,0.0,0.0,0.0,0.0
13923,0.0,0.0,0.0,0.0,0.0,1.0
13924,0.0,0.0,0.0,0.0,0.0,1.0

In [34]:
# Merge one-hot encoded features and drop the originals
predict_df = predict_df.merge(encode_df,left_index=True, right_index=True)
predict_df = predict_df.drop(cat,1)
predict_df.head()

/var/folders/gd/1878fbxd5zs899fs6znx1h_40000gn/T/ipykernel_15382/3254740931.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  predict_df = predict_df.drop(cat,1)

,Total_Sales,ESRB_Rating_E,ESRB_Rating_E10,ESRB_Rating_EC,ESRB_Rating_M,ESRB_Rating_RP,ESRB_Rating_T
0,82.86,1.0,0.0,0.0,0.0,0.0,0.0
2,37.14,1.0,0.0,0.0,0.0,0.0,0.0
4,33.09,1.0,0.0,0.0,0.0,0.0,0.0
5,31.38,1.0,0.0,0.0,0.0,0.0,0.0
6,30.80,1.0,0.0,0.0,0.0,0.0,0.0

In [37]:
# Assign target variable and independent variable
X = predict_df.iloc[:, 1:7]
y = predict_df.Total_Sales.values

In [41]:
# Split data into testing and training set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.25, random_state=0)

In [42]:
# Create and train the model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [43]:
# Test the model
predictions = model.predict(X_test)

In [46]:
from sklearn.metrics import r2_score
r_squared = r2_score(y_test, predictions)
r_squared

0.004459814167657394